.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

.submitButtonContainer {
  margin-top: auto;
}

.dropdownsContainer {
  gap: 40px;
  width: 100%;
  margin-top: 10px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
}
